<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Doctor</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="AddDoctors.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&family=Rock+Salt&display=swap");
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <span class="navbar-brand">AVCM Consultation Clinic</span>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
          <div class="navbar-items">
            <span class="nav-link">Admin</span>
            <span class="nav-link logged-in">Logged in as:</span>
          </div>
        </div>
      </div>
    </nav>
    <div class="main-container d-flex">
      <div class="sidebar" id="side_nav">
        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
          <h1 class="fs-4"></h1>
          <button class="btn d-md-none d-block close-btn px-1 py-0 text-white">
            <i class="fal fa-stream"></i>
          </button>
        </div>
        <ul class="list-unstyled px-2">
          <li class="">
            <a href="Avcm.html" class="text-decoration-none px-3 py-2 d-block"
              ><i class="fal fa-list"></i> Dashboard</a
            >
          </li>
          <li class="active">
            <a
              href="doctors.html"
              class="text-decoration-none px-3 py-2 d-block"
              ><i class="fal fa-list"></i> Doctors</a
            >
          </li>
          <li class="">
            <a href="#" class="text-decoration-none px-3 py-2 d-block"
              ><span><i class="fal fa-comment"></i> Patient</span></a
            >
          </li>
          <li class="">
            <a href="#" class="text-decoration-none px-3 py-2 d-block"
              ><i class="fal fa-envelope-open-text"></i> Doctor's Schedule</a
            >
          </li>
          <li class="">
            <a href="#" class="text-decoration-none px-3 py-2 d-block"
              ><i class="fal fa-users"></i> Patient's Appointment</a
            >
          </li>
          <li class="">
            <a href="#" class="text-decoration-none px-3 py-2 d-block"
              ><i class="fal fa-users"></i> Pharmacy</a
            >
          </li>
          <li class="logout">
            <a href="index.html" class="text-decoration-none px-3 py-2 d-block"
              ><i class="fal fa-sign-out"></i> Logout</a
            >
          </li>
        </ul>
      </div>

        <!-- DataTable -->
    <div id="app">
        <consultant-table></consultant-table>
      </div>
      <!-- End DataTable -->


    <div class="Rectangle17">
      <div id="app" class="container mt-4">
        <h2>Add Doctor's Information</h2>
        <form @submit.prevent="addDoctor">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input
              v-model="newDoctor.firstName"
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              required
            />
          </div>
          <div class="mb-3">
            <label for="middleName" class="form-label">Middle Name</label>
            <input
              v-model="newDoctor.middleName"
              type="text"
              class="form-control"
              id="middleName"
              name="middleName"
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              v-model="newDoctor.lastName"
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  
        <h2>Doctor's Information</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(doctor, index) in doctors" :key="index">
              <td>{{ doctor.firstName }}</td>
              <td>{{ doctor.middleName }}</td>
              <td>{{ doctor.lastName }}</td>
              <td>
                <button @click="editDoctor(index)" class="btn btn-sm btn-info">
                  Edit
                </button>
                <button
                  @click="deleteDoctor(index)"
                  class="btn btn-sm btn-danger"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <!-- Include Vue.js script -->
      <script>
        new Vue({
          el: "#app",
          data: {
            newDoctor: {
              firstName: "",
              middleName: "",
              lastName: "",
            },
            doctors: [],
            editingIndex: null,
          },
          methods: {
            addDoctor: function () {
              if (this.editingIndex !== null) {
                // If editing, update the existing doctor
                this.$set(this.doctors, this.editingIndex, {
                  ...this.newDoctor,
                });
                this.editingIndex = null;
              } else {
                // If not editing, add a new doctor
                this.doctors.push({ ...this.newDoctor });
              }
  
              // Clear the form fields
              this.newDoctor.firstName = "";
              this.newDoctor.middleName = "";
              this.newDoctor.lastName = "";
            },
            editDoctor: function (index) {
              // Set the form fields with the selected doctor's information
              this.newDoctor = { ...this.doctors[index] };
              this.editingIndex = index;
            },
            deleteDoctor: function (index) {
              // Remove the selected doctor from the array
              this.doctors.splice(index, 1);
              this.editingIndex = null;
            },
          },
        });
      </script>
    </div>
          
  </body>
</html>
